@import "public/sass/shared";

.Hero {
	height: 90vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url("/images/hero.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	@include respond(phone) {
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	}

	&__headshot {
		border-radius: 50%;
		width: 50%;
		margin-bottom: 1rem;
	}

	&__heading {
		@include respond(phone) {
			font-size: 3rem;
		}
	}

	&__sub {
		@include respond(phone) {
			font-size: 1.8rem;
		}
	}

	&__text_box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}
