@import "public/sass/shared";

.Skills {
	margin: 20rem 0;
	padding: 20rem 0;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url("/images/skills.jpg");
	transform: skewY(-7deg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	// Select all child
	& > * {
		transform: skewY(7deg);
	}

	&__inner {
		margin: 0 20rem;
		background-color: red;
	}

	&__header {
		text-align: center;
		// margin: 1500rem 0;
	}

	@include respond(tab-port) {
		padding: 10rem 0;
	}
}
